* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --first-color: #D5DED9 ;
    --second-color: #99B2B7 ;
    --third-color: #303942 ;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--second-color);
    background-color: var(--first-color);

}
header{
    background-color: var(--third-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;


}
header h1{
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    padding-left: 20px;
    color: var(--third-color);

}
.stripe{
    background-color: var(--second-color);
    margin: 20px 20px 20px 0;
}
.hero {
    height: 300px;
    width: 100%;
    background-image: url(../images/banner-web-romantic-angel-vintage.jpg);
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.hero h2 {
    align-self: flex-end;
    padding: 15px;
}
header a{
    color: var(--second-color);
    text-decoration: none;
    padding: 15px;
    

}


header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 20px;
}
header nav ul li a{
    padding: 10 15px;
    font-size: 1.5vw;

}
.content {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    

}
.content h2 {
    font-size: 42px;
    flex: 1 30%;
    
}
.content-info{
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-left: 2px solid var(--third-color);
    padding-left: 35px;

}
.content-info p{
    line-height: 1.5;
}

.section-content {
    font-size: 18px;
}

.work-grid-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;



}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
    "a a b b"
    "a a c c"
    "d d e e";
    
    
  }
.work-grid {
    position: relative;
  
}
  
.work-image {
    line-height: 0;
    overflow: hidden;
    border: 3px solid var(--third-color);
 
}
.box1 img {
    height: 320px;
    width: auto;
}
.same img {
    height: 150px;
    width: auto;
}





.work-name {
    text-decoration: none;
    z-index: 9999;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient( rgba(213, 222, 217, 0.3), rgba(153, 178, 183, 1));
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    color: var(--third-color);
 
}
  
.work-grid:hover .work-name {
    opacity: 1;
  }
.box1 { grid-area: a;}
.box2 { grid-area: b;}
.box3 {grid-area: c;}
.box4 { grid-area: d;}
.box5 {grid-area: e;}




address a{
    color: var(--third-color);
    text-decoration: none;
    font-size: 1.5vw;
    padding: 10px;
        
    }

@media screen and (max-width: 980px) {
header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
}
header h1 {
    width: 100%;
    text-align: center;
    padding-right: 20px;
    }
header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
header nav ul li a {
        font-size: 20px;}
.content h2 {
    flex: 1 100%;
    text-align: center;
    border-bottom: 2px solid var(--third-color) ;
    margin-bottom: 10vh;
}
.content-info{
    border-left: 0;
}
address{
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    text-align: center;

    
}
address a {
    font-size: 20px;
    line-height: 1.5;
}