* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --first-color: #D5DED9 ;
    --second-color: #99B2B7 ;
    --third-color: #303942 ;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--second-color);
    background-color: var(--first-color);

}
header{
    padding: 20px 35px;
    background-color: var(--third-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;


}
header h1{
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    
    color: var(--third-color);

}
.stripe{
    background-color: var(--second-color);
}
header a{
    color: var(--second-color);
    text-decoration: none;
    padding: 15px;

}


header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a{
    padding: 10 15px;
    font-size: 1.5vw;

}
.content {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    

}
.content h2 {
    font-size: 42px;
    flex: 1 30%;
    
}
.content-info{
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-left: 2px solid var(--third-color);
    padding-left: 35px;

}
.content-info p{
    line-height: 1.5;
}

.section-content {
    font-size: 18px;
}

.work-grid-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;



}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    
  }
.work-grid {
    position: relative;
  
}
  
.work-image {
    line-height: 0;
    overflow: hidden;
    border: 3px solid var(--third-color);
 
}

.work-name {
    text-decoration: none;
    z-index: 9999;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient( rgba(213, 222, 217, 0.3), rgba(153, 178, 183, 1));
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
 
}
  
.work-grid:hover .work-name {
    opacity: 1;
  }


address a{
    color: var(--third-color);
    text-decoration: none;
    font-size: 1.5vw;
    padding: 10px;
        
    }


